{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="col-md-3">
    {% include 'admin_dashboard/alert.html' %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-12">Category_name<div class="form-group">
                {{form.category_name}}
            </div>
        </div>

        <div class="mb-4">
            <label for="slug" class="form-label">Slug</label>
            {{form.slug}}
        </div>
        <div class="mb-4">
            <label class="form-label">Description</label>
            {{form.description}}
        </div>
        <div>
            {% if form.cat_image %}
            {{ form.cat_image }}

            {% endif %}
            <!--<label for="" class="form-label"> category Image</label>
            <input name="cat_image" class="form-control" type="file" accept="image/*" />-->

        </div>





        <!--<a href="{% url 'admin_products_category'%}" class="btn btn-primary">Add</a>-->
        <!--<button type="submit" class="btn btn-primary">Create category</button>-->
        <button type="submit" name="submit" class="btn btn-fill-out btn-block mt-30">Edit Information</button>


    </form>
</div>

{% endblock %}