{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Create an Account</h4>
            <form action="{% url 'admin_register' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input class="form-control" placeholder="First name" type="text"  name="firstname" required>
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label class="form-label">Last name</label>
                    <input class="form-control" placeholder="last name" type="text"  name="lastname" required>
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label class="form-label">User name</label>
                    <input class="form-control" placeholder="User  name" type="text"  name="username" required>
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" placeholder="Your email" type="email" name="email">
                </div> <!-- form-group// -->
                
                <div class="mb-3">
                    <label class="form-label">Create password</label>
                    <input class="form-control" placeholder="Password" type="password"  name="password">
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <label class="form-label">Config password</label>
                    <input class="form-control" placeholder="Password" type="password"  name="confirm_password">
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our
                        User Notice and Privacy Policy.</p>
                </div> <!-- form-group  .// -->
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100"> Login </button>
                </div> <!-- form-group// -->
            </form>

            <p class="text-center mb-2">Already have an account? <a href="{% url 'admin_login' %}">Sign in now</a></p>
        </div>
    </div>
</section>
{% endblock %}