{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <button type="submit" class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to
                            draft</button>

                        <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_title" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" name="product_name" class="form-control"
                                id="product_title">
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">slug</label>
                            <input type="text" placeholder="Type here" name="slug" class="form-control"
                                id="product_brand">
                        </div>
                        <div class="mb-4">
                            <label for="product_brand" class="form-label">stock</label>
                            <input type="text" placeholder="Type here" name="stock" class="form-control"
                                id="product_brand">
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" name="description" class="form-control"
                                rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label">Images</label>
                            <input class="form-control" name="images" type="file" name="images">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Price</label>
                            <input type="text" placeholder="Type here" name="price" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Label</label>
                            <select class="from-control" name="label">
                                {% for label in form.label %}
                                <option>{{label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Categories </label>
                            <select class="from-control" name="category">
                                {% for category in form.category %}
                                <option>{{category}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--<div class="mb-4">
                            <label class="form-label">Create Date</label>
                            <input type="datetime" placeholder="Type here" name="" class="form-control">
                        </div>-->


                    </div>
                </div>
            </div>
        </div>-->
    </form>
    </div>
</section>
{% endblock %}