
{% load static %}
</main>
<script src="{% static 'admin_static/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'admin_static/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_static/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'admin_static/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'admin_static/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'admin_static/js/vendors/chart.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'admin_static/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'admin_static/js/custom-chart.js' %}" type="text/javascript"></script>