{% load static %}
<section class="featured section-padding position-relative">
    <div class="container">
        <div class="row">
            {% for category in links %}
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                
                <div class="banner-features wow fadeIn animated hover-up">
                    
                    <img src="{{category.cat_image.url}}" alt="" width="170" height="134">
                    <a href="{{ category.get_url }}">{{ category.category_name }}  </a>
                    
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>