{% load static %}
<header class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">+1 000000000</a></li>
                            <li><i class="fi-rs-marker"></i><a href="#">Our location</a></li>
                        </ul>
                    </div>
                </div>
                
                {% if user.id is None %}
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <div>
                            <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'register' %}"> Register</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <!--<small class="title text-muted">Welcome </small>-->
                            <div>
                                <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'logout' %}"> Logout</a>
                                

                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="{% url 'home' %}">plantdekho</a>
                    </div>

                    <div class="header-right">
                    <!--<div class="mobile-search search-style-3 mobile-header-border">-->
                        <form action="{% url 'search' %}" class="search" method='GET'>
                            <div class="input-group w-100">
                                <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword" required>
                      
                                <div class="input-group-append">
                                  <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                  </button>
                                </div>
                              </div>
                          </form>
                    </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="{% url 'cart' %}">
                                        <img class="svgInject" alt="Evara"
                                            src="{% static 'imgs/theme/icons/icon-heart.svg' %}">
                                            <span class="pro-count blue">{{cart_count}}</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'cart' %}">
                                        <img alt="Evara" src="{% static 'imgs/theme/icons/icon-cart.svg' %}">
                                        <span class="pro-count blue">{{cart_count}}</span>
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            {% for cart_item in cart_items %}
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="Evara"
                                                            src="{{ cart_item.product.images.url }}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="{{ cart_item.product.get_url }}">{{cart_item.product.product_name }}</a></h4>
                                                    <h4><span>{{ cart_item.quantity }} × </span>{{ cart_item.product.price }}</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"><i
                                                            class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            {% endfor %}

                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>{{grand_total}}</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="{% url 'cart' %}" class="outline">View cart</a>
                                                <a href="{% url 'checkout' %}">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="{% url 'home' %}">plantdekho</a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">

                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Plants by Type<i class="fi-rs-angle-down"></i></a>

                                        <ul class="sub-menu">
                                            {% for category in links %}
                                            <li><a href="{{ category.get_url }}">{{category.category_name}}</a></li>
                                            {% endfor %}
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="/product_list">By Features Uses</a>
                                    </li>
                                    <li>
                                        <a href="/product_list">Flowering Plants</a>
                                    </li>
                                    <li>
                                        <a href="/product_list">Foliage plants</a>
                                    </li>
                                    <li>
                                        <a href="/product_list">Plants by Location</a>
                                    </li>
                                    <li>
                                        <a href="/product_list">Plants by Color</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</header>