{% load static %}
<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/plugins/slick.js' %}"></script>
<script src="{% static 'js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'js/plugins/wow.js' %}"></script>
<script src="{% static 'js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'js/plugins/select2.min.js' %}"></script>
<script src="{% static 'js/plugins/waypoints.js' %}"></script>
<script src="{% static 'js/plugins/counterup.js' %}"></script>
<script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'js/plugins/isotope.js' %}"></script>
<script src="{% static 'js/plugins/scrollup.js' %}"></script>
<script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template  JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/shop.js' %}"></script>